{% if metadata.sponsors and metadata.sponsors.enabled %}
<section class="sponsors-footer">
    <h3 class="sponsor-title">{{metadata.sponsors.title}}</h3>
    <p class="sponsor-description">{{metadata.sponsors.description}}</p>
    <div class="sponsors-container">
        {% for s in metadata.sponsors.list %}<a href="{{s.url}}" 
        target="_blank" rel="noopener noreferrer"
        class="sponsor-item none">
            <img src="{{s.image}}" alt="{{s.alt}}" 
            height="120px"
            width="120px"
            class="sponsor-logo">
            <span>{{s.title}}</span>
        </a>{% endfor %}
    </div>
</section>
{% endif %}
<footer class="footer">
<p>
{{metadata.footer.text | mdInline | safe}} | Built with <a href="https://www.11ty.dev">{{ eleventy.generator }}</a> 
| Maintained by <a href="https://adamdjbrett.com">Adam Dj Brett</a>
</p>
</footer>
